/* Estilo general del cuerpo */
body {
  font-family: Arial, sans-serif;
  background-color: #F3F5FC; /* Color de fondo general */
  color: #0A3871; /* Color de texto general */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor principal */
.container {
  background-color: #e9e9ed; /* Color de fondo del contenedor */
  padding: 50px 200px; /* Padding de 50px arriba/abajo, 200px izquierda/derecha */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 1000px;
  width: 100%;
  box-sizing: border-box;
}

/* Adaptación responsiva para pantallas más pequeñas */
@media (max-width: 768px) {
  .container {
      padding: 20px;
      width: 90%;
  }
}

/* Título del encriptador */
h1 {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #0A3871;
  padding-bottom: 10px;
  font-size: 24px;
}

/* Cuadro de texto */
textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #0A3871;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

/* Botones */
button {
  padding: 10px 20px;
  font-size: 14px; /* Tamaño del icono debe ser visible */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilo del botón Encriptar */
#encrypt-btn {
  background-color: #0A3871;
  color: #F3F5FC;
}

/* Estilo del botón Desencriptar */
#decrypt-btn {
  background-color: #D8DFE8;
  color: #0A3871;
}

/* Estilo del botón Copiar (en desencriptar) */
#copy-output-btn {
  background-color: #D8DFE8;
  color: #0A3871;
}

/* Separación entre botones centrales*/
button + button {
  margin-left: 20px;
}

/* Mensaje copiado */
#copied-message {
  display: none;
  color: green;
  margin-top: 10px;
}

/* Cuadro para la semilla */
#seed-input {
  width: 100px;
  font-size: 16px;
  padding: 5px;
  margin-top: 10px;
  border: 2px solid #0A3871;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#output-container {
  text-align: center; /* Centra el texto y los botones en el contenedor */
  margin-top: 20px;
}

/* Texto encriptado */
#output-text {
  margin-top: 20px;
  font-size: 18px;
  color: #495057;
  word-wrap: break-word;
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 2px solid #0A3871;
  border-radius: 4px;
  box-sizing: border-box;
  display: none; /* Oculto por defecto */
}

/* Estilo del contenedor del GIF */
#search-gif {
  text-align: center;
  margin-top: 20px;
}

/* Estilo de la imagen GIF */
#search-gif img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/* Estilo para ocultar elementos */
.hidden {
  display: none;
}

/* Estilo del cuadro emergente */
#dialog {
  position: fixed; /* Asegura que esté en una posición fija en la pantalla */
  top: 50%; /* Centrado vertical */
  left: 50%; /* Centrado horizontal */
  transform: translate(-50%, -50%); /* Ajusta el cuadro para que esté completamente centrado */
  background-color: #f8d7da; /* Fondo del cuadro emergente, puedes cambiarlo según tu diseño */
  color: #721c24; /* Color del texto del cuadro emergente */
  border: 1px solid #f5c6cb; /* Borde del cuadro emergente */
  padding: 20px; /* Espaciado interno del cuadro emergente */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra del cuadro emergente */
  z-index: 1000; /* Asegura que el cuadro esté encima de otros elementos */
  display: none; /* Oculto por defecto */
  opacity: 0; /* Opacidad inicial */
  transition: opacity 0.5s ease; /* Transición suave para el desvanecimiento */
}

#dialog.dialog-hidden {
  display: none; /* Asegura que esté oculto cuando no se necesita */
}

#dialog.show {
  display: block; /* Mostrar el cuadro emergente cuando sea necesario */
  opacity: 1; /* Hacer visible el cuadro emergente */
}


/* Advertencia */
.warning {
  margin-top: 0px; /* Parte superior entre contenedor de texto y botones */
  font-size: 12px; /* Tamaño del texto de advertencia */
  color: #6c757d; /* Gris */
  display: flex;
  align-items: flex-start; /* Contenedor muy cerca del cuadro de texto */
  justify-content: space-between;
}

.warning-text {
  position: relative;
  top: 0px; /* Ajusta la posición del texto sin cambiar la altura de los botones */
  margin-right: auto; /* Empuja los botones hacia la derecha */
}

.warning-text span {
  margin-right: 8px; /* Espacio entre el ícono de advertencia y el texto */
}

.warning-buttons {
  display: flex;
  gap: 5px; /* Ajusta el espacio entre los botones */
}

/* Ajuste en el estilo de los botones */
.warning button {
  display: flex; /* Utiliza flexbox para alinear iconos */
  justify-content: center; /* Modifica horizontalmente */
  align-items: center; /* Modifica verticalmente */
  font-size: 0x;
  width: 30px;
  height: 30px;
  margin-left: 0; /* Elimina el margen izquierdo en los botones */
}

/* Contenedor de botones */
.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



/* Botón Copiar */
#copy-output-btn {
  background-color: #D8DFE8;
  color: #0A3871;
}
